<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2012 Wesam Elshamy <wesam elshamy gmail com>
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<plugin
   id="bbcc"
   name="British Broadcasting Channel Corpus creator"
   version="1.0"
   provider-name="Wesam Elshamy">

   <runtime>
      <library name="bbcc.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="nutch-extensionpoints"/>
      <import plugin="lib-nekohtml"/>
   </requires>

   <extension id="org.wesam.nutch.parse.bbcc"
              name="BBCC Parser"
              point="org.apache.nutch.parse.HtmlParseFilter">

      <implementation id="parse-bbcc"
                      class="org.wesam.nutch.parse.bbcc.BbccParseFilter">
        <parameter name="contentType" value="text/html|application/xhtml+xml"/>
        <parameter name="pathSuffix" value=""/>
      </implementation>

   </extension>

   <extension id="org.wesam.nutch.indexer.bbcc"
              name="BBCC Indexer"
              point="org.apache.nutch.indexer.IndexingFilter">

      <implementation id="indexer-bbcc"
                      class="org.wesam.nutch.indexer.bbcc.BbccIndexingFilter">
      </implementation>

   </extension>

</plugin>
